[Unit]
Description=Flask API Server (Port 5000)
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project/backend
Environment="PATH=/home/ubuntu/project/backend/venv/bin"
EnvironmentFile=/home/ubuntu/project/backend/.env
ExecStart=/home/ubuntu/project/backend/venv/bin/python -u app.py
Restart=always

[Install]
WantedBy=multi-user.target
