@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6; /* Increased for better readability */
  font-weight: 400;
}

html {
  font-size: 20px; /* Base size scaled up from 16px */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
